.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-contact {
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #544141;
    top: 10vh;
    bottom: 5vh;
    position: fixed;
    width: 100%;
    left: 0vh;
    overflow: auto;
  }
  
  .App-link {
    color: #61dafb;
  }

  .text-box{
    padding: 1vh;
    display: flex;;
  }

  .connect{
    flex: 1;
  }

  .mailing{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .left{
    padding-top: 1vh;
    font-size: calc(10px + 1.1vmin);
    flex: 1;
    text-align: initial;
  }

  .right{
    flex: 4;
  }

  .btn--submit{
    width: 50%;
    padding: 1vh;
  }

  .button{
    margin-left: 45%;
  }

  .individual{
    padding: 1vh;;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  